p {
  margin: 0;
}
.Pokecard {
  border-radius: 5px;
  background-color: #b58db6;
  width: 150px;
  padding: 1px;
}

.Pokecard-name {
  color: blue;
}

.col {
  flex: 0 0 calc(25% - 20px)
  box-sizing: border-box;
}
